@import 'Animations.scss';

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Century Gothic';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

$imageWidth: 460px;
$imageHeight: 300px;

.container {
    width: 1400px !important;

    .row {
        .projects-container {
            /*display:flex;*/
            /*flex-wrap:wrap;*/
            .project {
                /*flex-basis:33%;*/
                width: 460px;
                position: relative;
                overflow: hidden;
                padding: 15px;
                color: white;

                .project-mask {
                    position: absolute;
                    bottom: 15px;
                    height: $imageHeight;
                    width: $imageWidth;
                    background: rgba(0,0,0,0.0);
                    transition: 0.6s;
                    opacity: 0;

                    .project-caption {
                        display: none;
                        margin-top: 25%;
                        text-transform: uppercase;


                        .project-title {
                            font-size: 16px;
                            letter-spacing: 6px;
                        }

                        .project-subtitle {
                            font-size: 10px;
                            letter-spacing: 4px;
                        }

                        div {
                            text-align: center;
                        }
                    }

                    &:hover {
                        background: rgba(0,0,0,0.8);
                        opacity: 1;

                        .project-caption {
                            display: block;
                        }
                    }
                }

                .project-image {
                    img {
                        height: $imageHeight;
                        width: $imageWidth;
                    }
                }
            }
        }
    }
}


